.promptBackground {
  background-image: url("https://uci-pace.github.io/images/sa_selfie_anteaters.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 30%;
}
