.mainheader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5em;
    margin: 2em 3em;

}

.title {
    font-family: 'Concert One';
    text-align: center;
    font-size: 90px;
}

.leftimage {
    width: 240px;
    height: 200px;
    top: 10px;
    right: 1200px;
}

.rightimage {
    width: 240px;
    height: 200px;
    top: 10px;
    right: 300px;
}

.homebutton {
    background-color: #BDFDCB;
    border-color: black;
    border-width: 4px;
    border-radius: 15px;
    font-family: 'Concert One';
    font-size: 30px; 
    position: absolute;
    width: 150px;
    right: 24px;
    top: 21px;
    
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50vw;
    column-gap: 30px;
    border-radius: 40px;
    background-color: #F4F4F4;
    padding: 3em;
    margin: 2em 3em;
    vertical-align: center;

}
.board>div {
    position: relative;
}

.pillar {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.name {
    width: 100%;
    margin: 0;
    position: absolute;
    height: 15%;
    font-family: 'Concert One';
    font-size: 3vw;
    vertical-align: center;
}

.award {
    padding: 0.5em;
    height: 25%
}

.place {
    font-family: 'Concert One';
    font-size: 3vw;
    line-height: 50px;
    width: 100%;
    margin: 0;
    position: absolute;
}

.first.name {
    border-radius: 10px;
    background-color: #F5B60788;
    height: 15%;
}

.first.pillar {
    border-radius: 10px;
    background-color: #F5B607;
    height: 80%;
}

.second.name {
    border-radius: 10px;
    background-color: #FADD9B88;
    top:20%;
}

.second.toppillar {
    background-color: transparent;
    height: 20%;
}
.second.pillar {
    border-radius: 10px;
    background-color: #FADD9B;
    height: 60%;
}

.third.name {
    border-radius: 10px;
    background-color: #FADD9B88;
    top: 30%;
}
.third.pillar {
    border-radius: 10px;
    background-color: #FADD9B;
    height: 50%;
}

.congrats {
    font-family: 'Concert One';
    text-align: center;
    font-size: 50px;
    background-color: #BDFDCB;
    border-color: black;
    border-width: 4px;
    border-radius: 15px;
    border-width: 4px;
    margin: 20px 35px;
    padding: 20px;
}
